:root {
    --primary: #dffae9;
    --second: #07401d;
    --text-color: #ffffff;
    --accent-color: #0e9610f9;
    --box-shadow: 0 12px 25px 0 rgba(255, 255, 255, 0.25);
    --box-shadow-invert: inset 0 -12px 15px 0 rgba(255, 255, 255, 0.25);
    --font-family: "Poppins", sans-serif;
    --neucha: "Neucha", cursive;
}